# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
*.so
.eggs/
*.egg
*.egg-info
nosetests.xml
coverage.xml

# Virtual environments
.venv*/
/venv/
/.venv/
env/
ENV/
.env
.python-version

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.ruff_cache/
*.code-workspace
.idea/
*.swp
*.swo
*~
.project
.pydevproject

# Build and distribution
/build/
/dist/
/DisplayCAL.egg-info/
/INSTALLED_FILES
/MANIFEST.in
/VERSION
pip-log.txt
pip-delete-this-directory.txt

# Application specific
/DisplayCAL/__version__.py
cacert.pem
main.py

# Documentation
docs/_build/
docs/generated/

# Test data
/DisplayCAL/ref/*.log
/tests/data/icc/*.png
/tests/data/icc/Monitor 1

# 3D modeling files
*.blend1

# Profiling data
.prof
profile_*.txt
*.pstat

# Log files
*.log

# Miscellaneous
.qodo
